# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [184]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [185]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [186]:
# your code here
import pandas as pd

# Given list
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

# Create a Pandas Series
series = pd.Series(lst)

# Display the Series
print(series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [187]:
# your code here
# Access the third value in the Series
third_value = series[2]

# Display the third value
print(third_value)

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [188]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [189]:
# your code here
import pandas as pd

# Given list of lists
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

# Create a Pandas DataFrame
df = pd.DataFrame(b)

# Display the DataFrame
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [190]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [191]:
# your code here
import pandas as pd

# Data
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

# Column names
columns = ['Column1', 'Column2', 'Column3', 'Column4', 'Column5']

# Create DataFrame
df = pd.DataFrame(b, columns=columns)

# Show the DataFrame
print(df)

   Column1  Column2  Column3  Column4  Column5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [192]:
# your code here
# Subset the DataFrame to include only 'Score 1', 'Score 3', and 'Score 5'
subset_df = df[['Column1', 'Column3', 'Column5']]

# Show the subset DataFrame
print(subset_df)

   Column1  Column3  Column5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [193]:
# your code here
# Calculate the average of 'Column3' (which corresponds to Score 3)
average_score_3 = df['Column3'].mean()

# Show the average value
print(f"The average Score 3 value is: {average_score_3}")

The average Score 3 value is: 56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [194]:
# Calculate the maximum value of "Column4"
max_column4 = df['Column4'].max()

# Display the maximum value
print(f"The maximum value of Column4 is: {max_column4}")

The maximum value of Column4 is: 88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [195]:
# Calculate the median of "Column2"
median_column2 = df['Column2'].median()

# Display the median value
print(f"The median of Column2 is: {median_column2}")

The median of Column2 is: 40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [196]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [197]:
# your code here
import pandas as pd

# Create the DataFrame
df = pd.DataFrame(orders)

# Calculate the median of 'UnitPrice'
median_score_2 = df['UnitPrice'].median()
print("Median of UnitPrice:", median_score_2)

Median of UnitPrice: 1.25

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [198]:
# your code here
# Calculate total quantity ordered
total_quantity = df['Quantity'].sum()

# Calculate total revenue generated
total_revenue = df['Revenue'].sum()

print("Total Quantity Ordered:", total_quantity)
print("Total Revenue Generated:", total_revenue)

Total Quantity Ordered: 2978
Total Revenue Generated: 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [199]:
# your code here
# Most expensive item price
most_expensive = df['UnitPrice'].max()

# Least expensive item price
least_expensive = df['UnitPrice'].min()

# Difference between the most and least expensive items
price_difference = most_expensive - least_expensive

print("Most Expensive Item Price:", most_expensive)
print("Least Expensive Item Price:", least_expensive)
print("Difference:", price_difference)

Most Expensive Item Price: 11.95
Least Expensive Item Price: 0.18
Difference: 11.77

## Let's load another dataset for more exercisesº

In [200]:
# Run this code:
#admissions = pd.read_csv('../Admission_Predict.csv')
import pandas as pd

# Load the dataset
admissions = pd.read_csv('../Admission_Predict.csv')

# Display the first few rows of the dataset
print(admissions.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

Let's evaluate the dataset by looking at the `head` function.

In [201]:
# your code here
import pandas as pd

# Load the dataset
admissions = pd.read_csv('../Admission_Predict.csv')

# Display the first 5 rows of the dataset
print(admissions.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [202]:
# your code here
import pandas as pd

# Load the dataset
admissions = pd.read_csv('../Admission_Predict.csv')

# Check for missing data in the dataset
missing_data = admissions.isnull().sum()

# Display the result
print("Missing Data in Each Column:")
print(missing_data)

Missing Data in Each Column:
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [203]:
# your code here
import pandas as pd

# Load the dataset
admissions = pd.read_csv('../Admission_Predict.csv')

# Make the serial number column the index without removing it from the dataframe
admissions.set_index('Serial No.', inplace=True)

# Display the first few rows to confirm the change
print(admissions.head())

            GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
Serial No.
1                 337          118                  4  4.5   4.5  9.65
2                 316          104                  3  3.0   3.5  8.00
3                 322          110                  3  3.5   2.5  8.67
4                 314          103                  2  2.0   3.0  8.21
5                 330          115                  5  4.5   3.0  9.34

            Research  Chance of Admit
Serial No.
1                  1              0.92
2                  1              0.72
3                  1              0.80
4                  0              0.65
5                  1              0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [204]:
# your code here
import pandas as pd

# Load the dataset
admissions = pd.read_csv('../Admission_Predict.csv')

# Make the serial number column the index without removing it from the dataframe
admissions.set_index('Serial No.', inplace=True)

# Check if 'GRE Score' and 'CGPA' uniquely identify the data
unique_check = admissions[['GRE Score', 'CGPA']].duplicated().sum()
print(f"Number of duplicate rows based on 'GRE Score' and 'CGPA': {unique_check}")

# Find rows where CGPA > 9 and the student has performed an investigation
# Assuming there is a 'Research' column indicating whether the student has done research (1 means yes)
rows_condition = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]

# Show the number of such rows
num_rows_condition = len(rows_condition)
print(f"Number of rows where CGPA > 9 and the student has performed an investigation: {num_rows_condition}")

Number of duplicate rows based on 'GRE Score' and 'CGPA': 0
Number of rows where CGPA > 9 and the student has performed an investigation: 101

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [205]:
import pandas as pd

df = pd.read_csv('../Admission_Predict.csv')
df.set_index('Serial No.', inplace=True)

filtered_rows = df[(df['CGPA'] > 9) & (df['SOP'] < 3.5)]
mean_chance_of_admit = filtered_rows['Chance of Admit '].mean()

print(f"The mean chance of admit for applicants with CGPA > 9 and SOP < 3.5 is: {mean_chance_of_admit}")

The mean chance of admit for applicants with CGPA > 9 and SOP < 3.5 is: 0.8019999999999999